@model List<Book>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Book List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 ">
        <div class="row pt-4">
            <div class="col-6">
            </div>
            <div class="col-6 text-end pb-3">
                <a asp-controller="Book" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-patch-plus-fill"></i> Create New Book
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped  " style="width:100%">
            <thead>
                <tr>
                   <th>Title</th>
                   <th>ISBN</th>
                   @*<th>Price</th>*@
                   <th>Author</th>
                   <th>Genre</th>
                   <th> </th>
                   
                </tr>
            </thead>
          </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/book.js"></script>
}


