@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<style>
    p {
        font-size: 18px; 
    }

    strong {
        font-size: 20px; 
    }

    em {
        font-size: 16px;
    }
</style>

<p>
    <strong>BookHarbor Privacy Protocol</strong>
    <br><br>
    Final Revision: 31/10/2023
    <br><br>
    Esteemed Patrons of Knowledge,
    <br><br>
    In entrusting your literary pursuits to BookHarbor, allow us to extend gratitude for your patronage to this sanctum of erudition. Within these virtual corridors, where words weave symphonies of thought, we, the stewards of BookHarbor, vow to safeguard the sanctity of your digital sojourn.
    <br><br>
    <strong>1. Cognizance of Datum</strong>
    <br><br>
    In the tapestry of our digital epoch, we, with utmost circumspection, collect fragments of your digital identity. Such fragments include nomenclature, electronic missives, and temporal markers of existence, tenderly offered during your initiation into our bibliophilic haven.
    <br><br>
    <strong>2. Alchemy of Purpose</strong>
    <br><br>
    Witness the transmutation of your data into a bespoke literary compass, steering your literary peregrinations through the vast archipelago of written tomes. Perchance, your electronic missives shall serve as beacons, illuminating pathways to literary sanctuaries hitherto unexplored.
    <br><br>
    <strong>3. Communion with Ether</strong>
    <br><br>
    In this ethereal space, your essence may commune with third-party conduits, diligently enlisted in our cause of delivering literary indulgence. Legions of jurisprudential mandates may compel the disclosure of your digitized presence, yet rest assured, such sacrifices are executed with the gravest of considerations.
    <br><br>
    <strong>4. Vox Populi et Optio</strong>
    <br><br>
    To you, the custodians of your digital sovereignty, we proffer the privilege of sculpting the visage of your BookHarbor sojourn. Tinker with your digital doppelgänger, or adjudge the ebb and flow of electronic missives in your sanctum.
    <br><br>
    <strong>5. The Bastion of Fortitude</strong>
    <br><br>
    Behold, the edifice of digital security, a citadel fortified against the marauding specters of unauthorized intrusion. Consecrated are the protocols and safeguards enshrouding your digital essence, repelling any nefarious incursions into the sanctum of BookHarbor.
    <br><br>
    <strong>6. The Novitiate of Youth</strong>
    <br><br>
    Ye be forewarned, this realm is reserved for those who have attained the age of thirteen terrestrial revolutions. The portals of BookHarbor, although ever ajar for the seekers of knowledge, remain guarded against the ingress of those yet to embark upon their adolescent odyssey.
    <br><br>
    <strong>7. Immutable Codices</strong>
    <br><br>
    Contemplating the vicissitudes of the digital realm, we acknowledge the inevitability of metamorphosis. Thus, anticipate periodic revisions to this edictum, a presage disseminated through the ether orations of digital missives.
    <br><br>
    In parting, by embarking upon your literary odyssey within BookHarbor, ye bequeath acquiescence to the tenets herein expounded. For further elucidation or queries, dispatch correspondences to <a href="mailto:contact@bookharbor.com">contact@bookharbor.com</a>.
    <br><br>
    In the aegis of knowledge,
    <br><br>
    <em>The Erudite Custodians of BookHarbor</em>
</p>

